/*
Theme Name: NXCQUADRO
Theme URI:
Author: Elena Catania
Author URI:
Description: Starter theme with font awesomone e bootstrap 4
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:  one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, sticky-post, translation-ready
Text Domain: nxcquadro

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*dbafc4 (usato)
b37c94*/
/*************************************************
                          CSS GENERALE
**********************************************/

/* serve ad avere un top del mio menu, e quindi ad abbassarlo, solo quando accedo a wordpress, perchè il menu nero di
wordpress, copre il mio menu*/
.admin-bar .navbar{
  top:32px;
}


body{
  display:flex;
  min-height:100vh; /*vh st per vertical height cioè la totale altezza dello schermo, che però nel mio pc è 95*/
  flex-direction:column;
  padding-top:70px;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Montserrat';*/
}

/*solo nella home voglio un padding-top 0 altrimenti non vedo il menu e lo slider apparirà giu di 70 px come specificato nel
css di body*/
body.navbar-transparent{
  padding-top:0;
}

/* questo codice qui sotto, più gli stili dentro body (display:flex; min-height:100vh; flex-direction:column;) servono a eliminare
lo spazio bianco che si crea sotto il footer nella pag 404. lo spazio bianco si crea perchè la pagine è quasi vuota*/
.main-content {
  flex:1;

}

.margin-bottom{margin-bottom:180px;}

/*questo codice lo ha trovato su Google cercando : Transition all css e cliccando sul primo link. Serve a inserire animazioni*/
.animate {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a:hover{color:#dbafc4; text-decoration: none;}
a{color:#b37c94}

/*************************************************
                          UTILITIES
**********************************************/
/* è il trattino sopra il titolo dello slider e nel blocco a 2 colonne*/
.trattino{width:100px; height:4px; margin:20px auto; background:#dbafc4;}



/*************************************************
                          MENU
**********************************************/

/*la classe .home si trova dentro il body. La inserisco nello stile css perchè oglio che il menu sia transparente
solo dentro la home*/
.navbar-transparent .bg-primary{ background: transparent!important; }

/*grandezza di default del contenitore del logo*/
.navbar-brand{ width:100px;}

/*per rimpicciolire un pò il logo*/
.navbar-brand img {width: 90%;}

/*pe stilizzare l testo*/
.nav-link{  /*text-transform: uppercase;*/  font-size:16px;  color:#fff!important;}

/*per rendre la casella di input del search trasparente*/
.form-control{background: transparent; border:none;}

/*è l'icona del search*/
.icon-search{color:#fff!important; background: transparent; border:none; font-size:18px; margin-right: 10px;}

/*il codice qui sotto serve a cambiare il colore del placeholder del search*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff!important;
}

/*serve a stilizzare le icone social*/
.navbar-social a{display:inline-block; color:#fff; font-size:15px; padding:10px;}


/********
MENU COLORATO PER LE PAGINE SENZA COPERINA
*****/

/*navbar colorata per le pagine che non hanno l' immagine di copertina*/
.navbar-colored .bg-primary{ background: #dbafc4!important; }
/*serve a colorare il testo e l'icona search di nero  quando scrollo in basso*/
.navbar-colored .nav-link, .navbar-colored .icon-search { color:#fff!important;}

/*serve a colorare le icone dei social  di nero  quando scrollo in basso*/
.navbar-colored .navbar-social a{color:#fff; }
/*per rendre la casella di input del search trasparente*/
.navbar-colored .form-control{background: transparent; border:1px solid #eee;}
/********
CAMBIO COLORE ALLO SCROLL
*****/

/*serve per colorare il menu quando si scolla di 100px; I 100px sono definiti dalla variabile is-scrolled definita dentro il file js/scripts*/
.navbar-transparent.is-scrolled .bg-primary{ background: #dbafc4!important; }

/*serve a rimpicciolire il logo  quando scrollo in basso, così si rimpicciolisce anche il menu*/
.navbar-transparent.is-scrolled .navbar-brand { width:40px;}

/*serve a colorare il testo e l'icona search di nero  quando scrollo in basso*/
.navbar-transparent.is-scrolled .nav-link, .navbar-transparent.is-scrolled .icon-search { color:#fff!important;}

/*serve a colorare le icone dei social  di nero  quando scrollo in basso*/
.navbar-transparent.is-scrolled .navbar-social a{color:#fff; }
/*per rendre la casella di input del search trasparente*/
.navbar-transparent.is-scrolled .form-control{background: transparent; border:1px solid #eee;}

/*************************************************
                      Slider
******************************************************/

/*serve per dare un altezza fissa*/
.carousel,
.carousel-inner,
.carousel-item{height: 700px;}
/*titolo dello slider*/
.slider-big h3{font-size:50px; font-weight:bold; /*max-width:700px;*/}
/*sottotitolo dello slider*/
.slider-big .carousel-text{font-size:22px; font-weight:300; /*max-width:700px;*/}
/*serve a restringere il div in cui c'è il testo dello slider*/
.slider-big .carousel-caption{width:100%; left:0; right: 0;} /*left:0; right: 0;= così occuperà tutta la larghezza della pagina cioè dello slider*/
/*serve a stilizzare l'hover del bottone nello slider*/
.btn-outline-light:hover{background:#82ddd4; border-color:#82ddd4;}
/*serve a stilizzare la scritta del bottone nello slider*/
.btn-outline-light{ text-transform: uppercase; font-size:13px; padding:15px 30px;}



/*************************************************
              SEZIONE: CHI SONO
******************************************************/

/* per elimnare i bordi arrotondati delle card. E gli da anche un altezza minima*/
.card-cover{border-radius: 0px; min-height:395px; padding:30px; position:relative;}

.card-cover a {color:#fff; text-decoration:none;}

.card-cover .card-title{font-size:25px; text-transform: uppercase; /*opacity: 0.7;*/ font-weight: bold;}

.card-cover .card-text{font-size:18px; line-height: 20px;/*max-width:290px;*/}

/*sere a dire al bottone di mettersi in basso a destra. Per fare in modo che riesce, tutta la card (card-cover) dee avere position relative*/
/*.card-cover .card-link{position: absolute;bottom: 10px; right:30px;}*/

/*************************************************
                      SEZIONE: Servizi
******************************************************/
/*per dare un margine superiore a tutti i blocchetti del focus*/
.focuses{margin-top: 40px;margin-bottom: 100px!important}
/*è la linea a sinistra del focus*/
/*.focus{border-left: 4px solid #333; margin-bottom:20px;}*/
/*titolo del focus*/
.focus h3{font-size:24px;}
/*link del titolo dei focus*/
.focus h3 a{color: #333;}
/*bottone Scopri di piu del focus*/
.focus .text-link{font-size:12px; color: #333;}
/*è il testo dei servizi*/
.focus .text-intro{font-size:16px; margin-bottom:5px; /*text-transform: uppercase;*/ opacity:0.6;}

.img-servizi {  width: 50%; }


/*************************************************
                    Blocco 2 colonne (pre evidenza) NON USATO
******************************************************/
.two-columns-title{font-size:40px; color:#333; font-weight:bold; line-height:42px;}

.two-columns p{font-weight: 300px;}


/*************************************************
                    Blocco dei 2 blockquote NON USATO
******************************************************/
.two-blockquote {margin-top: 100px; margin-bottom: 100px;}
.two-blockquote p{font-weight: 300px;}
/*è il bordino a sinistra del blockquote*/
.two-blockquote blockquote{border-left:10px solid #02EEE3; padding-left:20px;}
/*nth-child(1) serve a dirgli che il colore del bordino del primo blockquote sarà dierdo dall'altro*/
.two-blockquote blockquote:nth-child(1){border-left:10px solid #A8EE12; padding-left:20px;}
.two-blockquote blockquote strong{font-size:40px; font-weight: bold;}


/*************************************************
                    Testimonials: Sarebbe il mio Pay-off
******************************************************/
.testimonials{margin-top: 120px!important; margin-bottom:120px!important;}

.testimonials blockquote{font-size:34px; color:#4A4343; font-weight: bold; line-height: 46px;}

.testimonials a {font-weight: bold;}

/*sere a inserire le virgolette nel blockquote e lo fa con l'istruzione: before e */
.testimonials blockquote:before{
  content:"\201C";
  font-size:150px;
  position: absolute;
  top:-20px;
  left:-30px;
  font-family: georia;
  color:#dbafc4;

}

/****************************************************************
                jumbotron
****************************************************************/
.call-to-action-box{text-align:center; padding:200px 0;}
.cta-title{font-size:56px;}
.cta-text{font-weight:300; max-width:700px; margin: 0 auto;}

.btn-primary{border:none;text-transform: uppercase; font-size:13px; padding:15px 15px; background:transparent; color:#dbafc4; border:1px solid #dbafc4;}
.btn-primary:hover{background:#dbafc4; color:#fff;}

/****************************************************************
                News/Blog della home
****************************************************************/
.card-news{border:none}

/*categoria e la data*/
.card-news .card-meta a{text-transform: uppercase;font-weight: bold; font-size: 15px;}

/*titolo del post*/
.card-news .card-title {color:#dbafc4;/*font-size: 20px; font-weight: 600;*/}
.card-news a:hover{text-decoration: none;}

/*testo del post*/
.card-news .card-text{ opacity: 0.8; font-size: 14px;}
/*è la riga sopra l'autore*/
.card-news .card-info{border-top:1px solid #ddd; color:#999; padding-top: 10px; font-size: 12px;}



/*************************************************
          Stile delle singole pagine (CHI SONO- SERVIZI-CONTATTI)
*************************************************/
/*stilizzare il titolo*/
.title-page{text-transform: uppercase; font-weight: 400;}
/*sfondo grigio nel caso in cui non ci sia la thumbnail*/
.row-page{ background:#f7f7f7;}
/*per diminuire l'altezza del jumbotron*/
.jumbotron-page{ padding-bottom: 110px; padding-top: 110px;}
/*per far aumentare la grandezza dell immagine automaticamente all' aumentare del testo chi sono. Per farlo funzionare però, devo togliere dal div la classe align-self-center*/
.full-height{height:100%; }


/*************************************************
          PAGINA CONTATTI
*************************************************/

input[type="text"], input[type="email"], textarea, select{ padding:5px 10px; border:1px solid #ccc; width:100%; }

textarea{ height: 180px; }

/*sono le parole telefono e mail*/
.info-title{font-weight: bold;}

/*è il paragrafo che contine le info telefono e mail*/
.info p{margin-bottom:8px!important; opacity: 0.6!important;}

/*per amumetare i margini dei loghi font-awesone*/
.fontawesome-contatti{margin-right:15px!important; color:#dbafc4}

/*pulsante invio del form contatti*/
.wpcf7-submit{font-weight: bold;border:1px solid #dbafc4; color:#b37c94;text-transform: uppercase; font-size:13px; background:transparent;height: 40px;padding: 0 28px!important;}
.wpcf7-submit:hover{background:#dbafc4; color:#fff;}


/************************************************************************************************************************
                                                    BLOG
************************************************************************************************************************/

/****************************************************************
              PAGINA SINGOLO POST
****************************************************************/
.titolo-post{color:#dbafc4; margin-top:50px}
/*******************
      Comments
**********************/

.comments-title{margin-bottom:40px;}
.comments{padding-top:40px;}
.comments textarea{width: 100%;}
.comments label{min-width:80px;} /* per dare alle label name - email- website, la stessa larghezza*/
.comments ul,
.comments ol{
  list-style-type:none;
}

/*per non visulaizzare i pallini e la numerazione delle lista nei commenti*/
.comment-author img{ border-radius:999px;} /*per rendere rotanda l'immginetta di chi commenta, invece di quadrata*/
.comment .reply{border-bottom: 1px solid #ccc; margin-bottom: 30px;padding-bottom:10px;} /* serve a dare un pò di margini alle risposte ai commenti*/


/*************************************************
        widget della barra laterale nel blog
*******************************************************/

/*SEARCH*/

/* è la laber "search for"*/
.widget_search .screen-reader-text{display:block;}
.widget_search #s{width:50%; float:left; margin-right:20px; border-radius: 3px;}
.widget_search #searchsubmit{font-weight: bold;border:1px solid #dbafc4; color:#b37c94;text-transform: uppercase; font-size:13px; background:transparent;height: 36px;padding: 0 28px!important;}
.widget_search #searchsubmit:hover{background:#dbafc4; color:#fff;}


/*************************************************
          Stile delle paginazione
*************************************************/
/*mostra i numeri delle pagine più distanti e all'interno di un quadrato*/
.page-numbers{display: inline-block; padding:10px 15px; border:1px solid #ddd; margin-right:4px;}
.pagination{margin-bottom:40px;}








/**********************************************************************************************************************************************
                                                     RESPONSIVE
**********************************************************************************************************************************************/

/*************************************************
          TABLET
*************************************************/
@media (max-width:998px){

/*erve a dare un colore al menu e non ad aerlo trasparente*/
.navbar-transparent .bg-primary{     background: #dbafc4!important;  }
/*così le icone social nel menu per tablet, saranno allineate e non una sopra l'altra*/
.navbar-social{flex-direction:row;}

}




/*************************************************
          CELLULARE
*************************************************/

@media (max-width:767px){

  /*titolo dello slider*/
  .slider-big h3{font-size:40px; font-weight:bold;}
  /*serve a centrare le info dentro la pagina contatti*/
  .larghezza-info{margin:0 auto!important; width:50%!important}

  /*per aggiornre automaticamente l'immagine nella pagina CHI SONO*/
  .full-height{width:80%;}

}

@media (max-width:455px){

/*serve a centrare le info dentro la pagina contatti*/
.larghezza-info{margin:0 auto!important; width:70%!important}
}

@media (max-width:340px){

/*serve a centrare le info dentro la pagina contatti*/
.larghezza-info{margin:0 auto!important; width:95%!important}
}





/*****************************************************************************************************************
                                                              general wordpress style
**********************************************************************************************************************/
/*imposta questo css perchè dento la pag blog, c'erano delle immagini di copertina troppo grandi*/
.post img{max-width:100%; height:auto;}


/* =WordPress Core (per le best practices di Wordpress.org)
-------------------------------------------------------------- */
.gallery-caption{
  padding:5px;
  font-size:10px;
}
.bypostauthor{
  border-left: 3px solid #ddd;
  padding-left:20px;
  }

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
